<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
</html>
<html>
  <head>

    <title>{{ page.title }}</title>
    {{ content_for_header }}

  </head>

  <body>
    {% render 'header' %}
    {{ content_for_layout }}

  </body>
</html>